content {
    overflow: "auto";
}
.content p {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}
.content img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
